body{
	background-image:url("http://ecx.images-amazon.com/images/I/91gNAlnwlBL.jpg");
}

img{
	
	height: 600px;
}

#rock{
	height: 400px;
}
#paper{
	height: 400px;
}
#scissors{
	height: 400px;
}

#rock img{
	height: 400px;
}
#paper img{
	height: 400px;
}
#scissors img{
	height: 400px;
}

h1{
	text-align: center;
}