body{
	background-image: url("http://p1.pichost.me/i/5/1282860.jpg");
}

#Pbox{
	border:solid black 2px;
	background-color: white;
	height:700px;
	padding:5px;
	position: absolute;
	width:300px;
	
}
#Cbox{
	border:solid black 2px;
	background-color: grey;
	height:150px;
	padding:5px;
	width:300px;
	
}
#clear{
	clear
}
