body {
	background-color: white;
}

#userSide {
	width:50%;
	height:500px;

}
#computerSide {
	width:50%;
	height:50px;
}
.choiceDiv {
	margin-left: auto;
	margin-right: auto;
	height:200px;
	width:200px;
	border:10px;
	border-radius:200px;
	display: inline-block;
	background-color: white;
	opacity: 0.6;
}
.choiceDiv:hover {
	opacity: 1;
}
.choices {
	width:100%;
	height:100%;
}
#choiceBox {
	width:90%;
	margin: auto;
}
#yourchoice {
	margin-top: 20px;
	margin-left: 20px;
}