body{
	background: url(http://i.minus.com/ibu82W77AabNcL.gif);
	background-attachment: fixed;
	background-size: 100%;
}

.red_box{
	border: solid black 5px;
	background-color: white;
	color: black;
	padding: 10px;
}

.title{
	color: white;
}

.links{
	color: orange;
}

.links:hover{
	color: red;
}