body{
	background-color: #9A9999;
}
.pageTop{
	background-image: url("photos/christopher-nolan.jpeg");
	height: 150px;
	padding: 10px;
}
#buttonDiv{
	text-align: center;
}
#compHand{
	height: 250px;
	width: 250px;
	padding: 16.66px;
	border-radius: 125px;
	background-color: #FF7400;
	margin: auto;
}
#usrHand{
	height: 250px;
	width: 250px;
	padding: 16.66px;
	border-radius: 125px;
	background-color: #FF7400;
	margin: auto;
}
#displayScore{
	text-align: center;
}
#scoreBox{
	text-align: center;
	width: 100px;
	height: 50px;
	width: 110px;
	margin: auto;
	margin-top: 5px;
}
#nav ul{
	list-style: none;	
}
#nav a{
	color: black;
	text-decoration: none;
	text-align: center;
	display: block;
}
img{
	display: block;
}
h1{
	text-align: center;
	color: gray;
	font-size: 46px;
}
#journalHead {
	margin: 90px;
	padding: 10px;
}
p{
	font-size: 30px;
	margin-top: 80px;
	margin-left: 10px;
}
.RPSLabel{
	margin: auto; 
	text-align: center;
}
.boxes{
	margin: auto;
	text-align:center;
}
.journalEntry {
	background-color: #FF7400;	
	margin-left: 60px;
	margin-right: 60px;
}
.journalEntry h2{

	text-align: center;
}
.journalEntry p{
	text-align: center;
}
hr {
	color: black;
}
.choose{
	padding: 5px;
	float: center;
	margin: auto;
	height: 75px;
	width: 75px;
	border-radius: 37.5px;
	background-color: #FF7400;
}
.dropdown{
	margin: 10px;
}
.colorBar{
	width: 35%;
	height: 5px;
	background-color: #91A437;
}
.colorBar2{
	height: 10px;
	background-color: #BBCD67;
	margin-bottom: 25px;
}
.colorBar3{
	width: 30%;
	height: 5px;
	background-color: #91A437;
}