
#centerButtons {
  list-style-type: none;
	text-align: center;
	margin: auto;
	border: none;
} 


#title
{

	text-align: center;

}

img
{

	width: 128px;
	height: 128px;

}

::selection {
    color: #655F28; 
    background: #C2BE91;
}



#Navigation li a
{

	text-decoration: none;
	color: #222347;
	margin: auto;
	font-size: 30px;

}

#Navigation li
{

	background-color: #363753;
	border:  2px solid #222347;	
	border-radius: 10px;
	display : inline;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	position: relative;

	
}


#Navigation :hover
{

	background-color: #55AA55;
	border: solid #116611 2px;
	border-radius: 10px;  

}

#Navigation  :hover
{

	border: none;

}

#Navigation
{
	
	list-style-type: none;
	text-align: center;
	margin: auto;



}

#fire
{
	background-color: maroon;
	color: red;
	font-size: 50px;

}

#water
{
	background-color: navy;
	color: lightblue;
	font-size: 50px;

}



#grass
{
	background-color: darkgreen;
	color: green;
	font-size: 50px;

}

#userDiv
{
display: inline;


}

#compDiv
{
	display: inline;
}


#pictureChoices
{
	border: none;

	list-style-type: none;
	text-align: center;
	margin: auto;
  

}

#userTally
{
	
	float:left;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: black;

}

#compTally
{

	float: right;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: black;

}

#compPointTally
{

	float: right;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: black;

}

#drawTally
{

	float: right;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: black;

}

#drawPointTally
{

	float: right;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: black;

}

#userPointTally
{

	float: left;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: black;

}

#tallyText
{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: black;

}

#userDiv
{
	border: none;

}

#compDiv
{
	border: none;

}

#clear
{
	clear: both;
}

#colorBoxLeft
{	
	border-radius : 0px;
	float: left;
	background-color: black;
}

#colorBoxRight
{	
	border-radius : 0px;
	float: right;
	background-color: black;
}