p {
   font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#nav {
  background-color: #000909;
  text-align: center;
}

form {
	margin-top: 20px;
}
#home {
	color: #A2E0E6;
}

body {
    background-color: #04B4AE;
}
#rood {
	text-align: center;
}