body {
	background-color: white;
}

#userSide {
	width:50%;
	height:500px;
	display: inline-block;

}
#computerSide {
	width:50%;
	height:500px;
	display: inline-block;
	
}
.choiceDiv {
	height:200px;
	width:200px;
	border:10px;
	border-radius:200px;
	background-color: white;
	opacity: 0.6;
}
.choiceDiv:hover {
	opacity: 1;
}
.choices {
	width:100%;
	height:100%;
}
#choiceBox {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#yourchoice {
	margin-top: 20px;
	margin-left: 20px;
}
#words {
	font-size: 15pt;
	text-align: center;
}