#nav {
  background-color: #000909;
  text-align: center;

}

form {
	margin-top: 20px;
	color: #000080
}

#home {
	color: #A2E0E6;
}

#jason {
	color: black;
}
  
 #formtitle {
 	margin: 0px;
 }

 body {
    background-color: #04B4AE;
}
#uiop {
	margin-bottom: 10px;
}